@model CalendarViewModel
@{
    Layout = "_CalendarLayout";
}


    <div class="content-wrapper">
        <div class="mymodal"><img src="~/images/45.gif" id="big-loading-indicator" style="display:none" /></div>
        <div class="container">
            <div id='calendar'></div>
        </div>
        <footer class="sticky-footer text-center">
            &copy; 2018 - GymApp
        </footer>
    </div>


    <!-- JS includes -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/style/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/style/js/sb-admin.min.js"></script>

    <script>

        $("#slowExercises").click(function () {
            $('#big-loading-indicator').show();
        });

    </script>


    <script type="text/javascript">

			$(document).ready(function () {
                var result
                var json = JSON.stringify({
                    'ProgramID': "1",
                });

                $.ajax({
                    url: '@Url.Action("GetEvents", "Home")',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: json,
                    success: display,
                    error: function () {
                        console.log("An error happened");
                    }
                });
    		});

        function display(data) {
            result = JSON.parse(data);
            console.log(result)

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                firstDay: 1, //The day that each week begins (Monday=1)
                slotMinutes: 60,
                events: result
            });
        }
    </script>
@*</body>
</html>*@

