<!--TODO change for template login-->
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model ManageViewModel
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "My Programs";
    AppUser user = null;
    if (SignInManager.IsSignedIn(User))
    {
        user = await UserManager.GetUserAsync(User);
    }
}
<h2>@ViewData["Title"]</h2>
<div class="container">

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

