@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model TrainingProgram 
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Program "+ Model.name +" Information";
    AppUser user = null;
    Dictionary<int, string> names = ViewBag.Names;
    if (SignInManager.IsSignedIn(User))
    {
        user = await UserManager.GetUserAsync(User);
    }
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link active show" data-toggle="tab" aria-expanded="true" href="#day1">Day 1</a>
        </li>
        @for (int i = 2; i <= 7; i++)
        { 
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#day@(i)">Day @i</a>
            </li>
        }
    </ul>

    <div class="tab-content">
        @for (int i = 1; i <= 7; i++)
        {
            if (i == 1)
            {
                @:<div class="tab-pane active" id="day1">
                }
                else
                {
                    @:<div class="tab-pane" id="day@(i)" i>
                    }
                    @foreach (var ex in Model.Exercices)
                    {
                        if (ex.day == i)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <h5 class="card-title">@names.GetValueOrDefault(ex.ExerciseID)</h5>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <p>Button to add SET.</p>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <p>Button to delete EX.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                @:</div>
            }
    </div>
    <div class="row" style="margin-top:10%;">
        @Html.ActionLink("Back to workouts", "Workouts", "Workout", null, new { @class = "btn btn-primary col-md-3" })
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

